.home-wrapper{
    height:92.5vh;
}
.home-title{
    height:15vh;
    display: flex;
    align-items: center;
    font-size: 2.5rem;
    font-weight: 300;
}
.home-feat-item-box{
    position: relative;
    cursor: pointer;
    background: none;
    border: none;
    height:26.5vw;
    width:26.5vw;
    transition-duration: 0.3s;
    border-radius: 5px;
}
.home-feat-item-box:hover{
    box-shadow: 1px 1px 15px -1px rgba(125,125,125,0.75);
    transform: scale(1.02);
}
.home-item-img{
    height:20vw;
    width:calc(100% - 1rem);
    display: flex;
    justify-content: center;
    margin:0.5rem;
}
.home-box-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 0fr);
    gap:10px;
    justify-content: space-between;
}
.home-feat-img{
    width:100%;
    height:100%;
    object-fit: scale-down;
}
.home-item-desc{
    padding: 0 0.5rem;
    font-size:1rem;
    margin: 0.5rem;
    display: flex;
}
.home-price{
    font-weight: 600;
    letter-spacing: 0.05em;
    color:black;
}
.home-name{
    font-weight: 300;
    color:black;
}
a{
    text-decoration: none;
    z-index: 100;
}
.home-not-in-stock{
    height:25vw;
    width:26.5vw;
    background: rgba(0, 0, 0, 0.1);
    z-index: 200;
    position: relative;
}
.not-in-stock{
    position: absolute;
    background: rgba(0, 0, 0, 0.05);
    width:100%;
    height:100%;
    border-radius: 5px;
    cursor: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: 200;
}