.check-title{
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    color: #1D1F22;
    text-transform: uppercase;
    padding-top:32px;
    padding-bottom: 32px;
    border-bottom:1px solid #E5E5E5;
}
.check-main{
    width:100%;
}
.check-first-half{
    width:50%;

}
.check-second-half{
    width:50%;
}
.check-image{
    height:288px;
}
.check-main-wrapper{
    width:100%;
    display: flex;
    border-bottom:1px solid #E5E5E5;
}
.check-image-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    height:100%;
}
.check-name{
    font-weight: 600;
    font-size: 30px;
}
.check-brand{
    font-weight: 400;
    font-size: 30px;
}
.check-price{
    font-weight: 700;
    font-size: 24px;
}
.check-quantity{
    font-weight: 400;
    font-size: 24px;
}
.check-qty{
    font-weight: 600;
    font-size: 24px;
}
.check-opt-name{
    font-weight: 400;
    font-size: 24px;
}
.check-opt-wrapper{
    display: flex;
}
.check-opt-itself{
    font-weight: 700;
    font-size: 24px;
}