.mini-wrapper{
    width:100%;
    height:calc(100% - 7.5vh);
    margin-top:7.5vh;
    top:0;
    left:0;
    background: rgba(0, 0, 0, 0.2);
    position:fixed;
    z-index: 400;
    cursor: pointer;
}
.mini-background{
    background: white;
    width:350px;
    height:auto;
    max-height:677px;
    right:3rem;
    position: absolute;
    cursor: auto;
    padding: 32px 16px;
    overflow-y: scroll;
}
.mini-bold{
    font-weight: 700;
    font-size:16px;
}
.mini-main-wrapper{
    width:100%;
    padding-top:16px;
    padding-bottom:16px;
}
.mini-total-wrapper{
    display: flex;
    justify-content: space-between;
    margin-top:16px;
    margin-bottom: 16px;
}
.mini-total-price{
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
}
.mini-total{
    font-weight: 700;
    font-family: Roboto,sans-serif;
    font-size: 16px;
    line-height: 27px;
}
.mini-view-bag{
    width:140px;
    height:43px;
    background: white;
    border: 1px solid #1D1F22;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px 32px;
    transition-duration: 0.3s;
    cursor: pointer;
    font-size: 12px;
}
.mini-check-out{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px 32px;
    width: 140px;
    height: 43px;
    background: #5ECE7B;
    flex: none;
    order: 0;
    flex-grow: 0;
    border: none;
    color:white;
    transition-duration: 0.3s;
    cursor: pointer;
    font-size: 12px;
}
.mini-button-wrapper{
    display: flex;
    justify-content: space-between;
}
.mini-view-bag:hover{
    background: black;
    color:white;
    text-decoration: none;
}
.mini-check-out:hover{
    background: black;
}
.mini-items{
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
}
.mini-half-wrapper{
    width:100%;
    display: flex;
    padding-top:1rem;
    padding-bottom: 1rem;

    border-top: 1px solid #E5E5E5;
}
.mini-first-half{
    width:57.5%;
}
.mini-second-half{
    width: 42.5%;
    display: flex;
}
.mini-name{
    font-weight: 300;
    font-size: 16px;
    margin: 0.5rem 0;
}
.mini-brand{
    font-weight: 300;
    font-size: 16px;
    margin: 0.5rem 0;
}
.mini-price{
    font-weight: 500;
    font-size: 16px;
    color: #1D1F22;
    line-height: 160%;
    margin: 0.5rem 0;
}
.mini-options-name{
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    margin: 0.5rem 0;
}
.mini-options-buttons{
    width:auto;
    height:32px;
    min-width: 32px;
    background: white;
    border: 1px solid #1D1F22;
    font-weight: 400;
    font-size: 14px;
    cursor: pointer;
    transition-duration: 0.3s;
}
.mini-options-buttons:hover{
    background: black;
    color:white;
}
.mini-option-button-wrapper{
    display: flex;
    width:100%;
    justify-content: space-evenly;
    margin: 0.5rem 0;
}
.mini-flex{
    display: block;
    width:100%;
}
.mini-2-button-wrapper{
    margin: 0 0.25rem;
    height:100%;
    width:24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.mini-2-img-wrapper{
    width: calc(100% - 24px);
    height: 100%;
    display: flex;
    align-items: center;
}
.mini-2-img-itself{
    height:190px;
    width:100%;
    object-fit: contain;
}
.mini-2-in-dec-btn{
    width:24px;
    height:24px;
    border: 1px solid #1D1F22;
    cursor: pointer;
    background: transparent;
    transition-duration: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mini-2-in-dec-btn:hover{
    background: black;
    color:white;
}
.mini-2-quantity{
    display: flex;
    align-items: center;
    justify-content: center;
}