@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --green: #9AE0AD;
    --white: #ffffff;
    --black: #000000;
}
body{
    padding: 0;
    margin: 0 6rem;
    font-family: Inter, sans-serif;
}
*, *::before, *::after{
    box-sizing: border-box;
}